body {
    background-color: bisque;
    margin-left: 50%;
}
main {
    background-color: white;
    padding-left: 50px;
    padding-right: 20px;
}

.preparation {
    background-color: rgb(253, 220, 226);
    padding-left: 10px;
    
}
.preparation p{
    color: purple;
}
.ingredients h5{
    color: red;
}
.Instructions h4 {
    color: red;
} 
.nutrition h4 {
    color: red;
} .nutrition table tr td{
    border: 1px solid black;
    padding-right: 200px;
} 

main h1{
    font-family: young-serif;
} 


